
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAgreementLabel">Create or edit a Agreement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.agreement.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.agreement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_agreementNumber">Agreement Number</label>
            <input type="text" class="form-control" name="agreementNumber" id="field_agreementNumber"
                    ng-model="vm.agreement.agreementNumber"
                    required />
            <div ng-show="editForm.agreementNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.agreementNumber.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lob">Lob</label>
            <input type="text" class="form-control" name="lob" id="field_lob"
                    ng-model="vm.agreement.lob"
                    required />
            <div ng-show="editForm.lob.$invalid">
                <p class="help-block"
                    ng-show="editForm.lob.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_premium">Premium</label>
            <input type="number" class="form-control" name="premium" id="field_premium"
                    ng-model="vm.agreement.premium"
                     />
        </div>

        <div class="form-group">
            <label for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.agreement.customer" ng-options="customer as customer.id for customer in vm.customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_broker">Broker</label>
            <select class="form-control" id="field_broker" name="broker" ng-model="vm.agreement.broker" ng-options="broker as broker.id for broker in vm.brokers track by broker.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
